@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/OpenSans_Condensed-Bold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/OpenSans_Condensed-SemiBold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/OpenSans_Condensed-Medium.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../src/assets/fonts/OpenSans_Condensed-Regular.ttf);
}

:root {
  scroll-behavior: smooth;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans';
}

ul {
  list-style-type: none;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

main {
  margin-top: 80px;
}